{
    "presets": ["@babel/preset-env"]
}

// {
//     "presets": [
//         [
//             "env",
//             {
//                 "targets": {
//                     "node": "12.1.0"
//                 }
//             }
//         ]
//     ],
//     "plugins": [
//         [
//             "transform-object-rest-spread",
//             {
//                 "useBuiltIns": true
//             }
//         ]
//     ]
// }